# MongoDB
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/kopfueber?retryWrites=true&w=majority

# NextAuth
NEXTAUTH_SECRET=REPLACE_WITH_32_CHAR_RANDOM_STRING
NEXTAUTH_URL=http://localhost:3000

# Stripe
STRIPE_SECRET_KEY=sk_test_REPLACE_ME
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_REPLACE_ME
STRIPE_WEBHOOK_SECRET=whsec_REPLACE_ME

# Vercel Blob (für Produktbilder + Download-Dateien)
BLOB_READ_WRITE_TOKEN=REPLACE_ME
